@{ List<Personas> persona = ((List<Personas>)Model); }

<h1>Lista Personas</h1>
<a href="/persona/create" class="badge badge-succes">Registrar</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>DNI</th>
            <th>Genero</th>
            <th>Ciudad</th>
            <th>Direccion</th>
            <th>Email</th>
            <th>Username</th>
            <th>Contraseña</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < persona.Count; i++)
        {
            Personas item = persona[i];
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Apellido</td>
            <td>@item.FechaNac</td>
            <td>@item.Dni</td>
            <td>@item.Genero</td>
            <td>@item.NomCiudad.Nombre</td>
            <td>@item.Direccion</td>
            <td>@item.Correo</td>
            <td>@item.UserName</td>
            <td>@item.Contrasena</td>
            <td>
                <a href="/Persona/edit?id=@item.Id" class="badge badge-warning">Editar</a> /
                <a href="/Persona/delete?id=@item.Id" class="badge badge-warning">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>